<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Proje Ekle</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="container-fluid">
<nav class="navbar navbar-light" style="background-color: #003C70; height: 72px">

    <div class="text-left" style="font-size: large; font-style: normal; color: white; margin-top: 20px; margin-left: 5px">Bilgisayar Mühendisliği Bölümü</div>
    <div class="text-center">
        <img src="../static/images/arved_logo.png" alt="" width="238" height="116" style="margin-top: -45px"
             th:src="@{/images/arved_logo.png}">
    </div>

    <ul class="nav navbar" sec:authorize="isAuthenticated()" >
        <form th:action="@{/logout}" method="post" style="max-width: 400px; margin-top: -101px; margin-left: 1660px;">
            <button class="btn btn-default" type="submit" value="Logout" style="background-color: #003C70; color: white; border-color: #003C70; font-size: 20px">
                <span class="glyphicon glyphicon-log-out" style="font-size: 17px"></span>
                Çıkış
            </button>
        </form>
    </ul>
</nav>

<nav class="navbar navbar-light" style="width: 500px; margin: auto">
</nav>
<nav class="navbar navbar-light" style="width: 500px; margin: auto">
</nav>
<main class="container" style="width: 1100px; height:850px; border: 1px ridge #cecece">
    <h4 style="margin-top: 30px; margin-left: 20px; margin-right: 20px; border-bottom-color: gainsboro; border-bottom-style: solid">Proje Bilgileri</h4>
    <nav class="navbar navbar-light" style="width: 500px; margin: auto">
        <div></div>
    </nav>
    <form class="form-horizontal" method="post" style="width:900px; margin: auto">
        <div class="form-group">
            <label for="projeAdi" class="col-sm-2 control-label">Proje Adı</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="projeAdi" name="projeAdi" placeholder="">
            </div>
        </div>
        <div class="form-group">
            <label for="projeYurutucusu" class="col-sm-2 control-label">Proje Yürütücüsü</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="projeYurutucusu" name="projeYurutucusu" placeholder="">
            </div>
        </div>
        <div class="form-group">
            <label for="projeDurumu" class="col-sm-2 control-label">Proje Durumu</label>
            <select class="form-control" id="projeDurumu" name="projeDurumu" style="width: 745px; margin: auto">
                <option>Tamamlandı</option>
                <option>Devam Ediyor</option>
            </select>
        </div>
        <div class="form-group">
            <label for="yil" class="col-sm-2 control-label">Yıl</label>
            <select class="form-control" id="yil" name="yil" style="width: 745px; margin: 0 auto">
                <option>2021</option>
                <option>2020</option>
                <option>2019</option>
                <option>2018</option>
                <option>2017</option>
            </select>
        </div>
        <div class="form-group">
            <label for="kurumIciProje" class="col-sm-2 control-label">Kurum İçi Proje(BAP)</label>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="true" id="kurumIciProje" name="kurumIciProje">
                <label class="form-check-label" for="kurumIciProje"></label>
                <script>
                    $(document).ready(function () {
                        $('#kurumIciProje').on('change', function () {
                            $('input[name="kurumIciProje"]').val($(this).is(':checked') ? 'true' : 'false');
                        });
                    });
                </script>
            </div>
        </div>
        <div class="form-group">
            <label for="uluslararasi" class="col-sm-2 control-label">Uluslararası Proje</label>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="uluslararasi" name="uluslararasi">
                <label class="form-check-label" for="uluslararasi"></label>
                <script>
                    $(document).ready(function () {
                        $('#uluslararasi').on('change', function () {
                            $('input[name="uluslararasi"]').val($(this).is(':checked') ? 'true' : 'false');
                        });
                    });
                </script>
            </div>
        </div>
        <div class="form-group">
            <label for="projeTuru" class="col-sm-2 control-label">Proje Türü</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="projeTuru" name="projeTuru" placeholder="">
            </div>
        </div>
        <div class="form-group">
            <label for="alanBilgisi" class="col-sm-2 control-label">Alan Bilgisi</label>
            <select class="form-control" id="alanBilgisi" name="alanBilgisi" style="width: 745px; margin: auto">
                <option>FEN</option>
                <option>SAĞLIK</option>
                <option>SOSYAL</option>
            </select>
        </div>
        <div class="form-group">
            <label for="projeButcesi" class="col-sm-2 control-label">Proje Bütçesi</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="projeButcesi" name="projeButcesi" placeholder="">
            </div>
        </div>
        <div class="form-group">
            <label for="paraBirimi" class="col-sm-2 control-label">Para Birimi</label>
            <select class="form-control" id="paraBirimi" name="paraBirimi" style="width: 745px; margin: auto">
                <option>TL</option>
                <option>Dolar</option>
                <option>Euro</option>
            </select>
        </div>
        <div class="form-group">
            <label for="kontratliProje" class="col-sm-2 control-label">Kontratlı Proje</label>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="kontratliProje" name="kontratliProje">
                <label class="form-check-label" for="kontratliProje"></label>
                <script>
                    $(document).ready(function () {
                        $('#kontratliProje').on('change', function () {
                            $('input[name="kontratliProje"]').val($(this).is(':checked') ? 'true' : 'false');
                        });
                    });
                </script>
            </div>
        </div>
        <div class="form-group">
            <label for="disDestekli" class="col-sm-2 control-label">Dış Destekli Proje</label>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="disDestekli" name="disDestekli">
                <label class="form-check-label" for="disDestekli"></label>
                <script>
                    $(document).ready(function () {
                        $('#disDestekli').on('change', function () {
                            $('input[name="disDestekli"]').val($(this).is(':checked') ? 'true' : 'false');
                        });
                    });
                </script>
            </div>
        </div>
        <div class="form-group">
            <label for="uluslararasiIsbirlikli" class="col-sm-2 control-label">Uluslararası İşbirlikli Proje</label>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="uluslararasiIsbirlikli" name="uluslararasiIsbirlikli">
                <label class="form-check-label" for="uluslararasiIsbirlikli"></label>
                <script>
                    $(document).ready(function () {
                        $('#uluslararasiIsbirlikli').on('change', function () {
                            $('input[name="uluslararasiIsbirlikli"]').val($(this).is(':checked') ? 'true' : 'false');
                        });
                    });
                </script>
            </div>
        </div>
        <div class="form-group">
            <label for="arastirmaciSayisi" class="col-sm-2 control-label">Araştırmacı Sayısı</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="arastirmaciSayisi" name="arastirmaciSayisi" placeholder="">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default"
                        style="color: white; color-rendering: auto; background-color: #003C70">Kaydet
                </button>
            </div>
        </div>
    </form>
</main>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
        crossorigin="anonymous"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
        crossorigin="anonymous"></script>
</body>
</html>