<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Makale Güncelleme</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="container-fluid">
<nav class="navbar navbar-light" style="background-color: #003C70; height: 72px">
    <!--<img src="../static/images/AU_logo.png"
         width="70" height="70" alt="" th:src="@{/images/AU_logo.png}"
         style="float: left"/>
    <p class="text-center" style="font-size: xx-large; font-style: normal; color: white; margin-top: 10px">Bilgisayar Mühendisliği
        Araştırma Verilerinin Değerlendirilmesi Sistemi</p>
    <img src="../static/images/muhendislik_fak_logo.png"
         width="70" height="70" alt="" th:src="@{/images/muhendislik_fak_logo.png}"
         style="float: right; margin-top: -65px"/>-->

    <div class="text-left" style="font-size: large; font-style: normal; color: white; margin-top: 20px; margin-left: 5px">Bilgisayar Mühendisliği Bölümü</div>
    <div class="text-center">
        <img src="../static/images/arved_logo.png" alt="" width="238" height="116" style="margin-top: -45px"
             th:src="@{/images/arved_logo.png}">
    </div>

    <ul class="nav navbar" sec:authorize="isAuthenticated()" >
        <form th:action="@{/logout}" method="post" style="max-width: 400px; margin-top: -101px; margin-left: 1660px;">
            <button class="btn btn-default" type="submit" value="Logout" style="background-color: #003C70; color: white; border-color: #003C70; font-size: 20px">
                <span class="glyphicon glyphicon-log-out" style="font-size: 17px"></span>
                Çıkış
            </button>
        </form>
    </ul>
</nav>
<!--<nav class="navbar navbar-light" style="margin-top:-19px; height: 72px; border-color: gainsboro">
    <div class="input-group rounded" style="width: 500px; margin: auto; margin-top: 15px">
        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
               aria-describedby="search-addon" />
        <span class="input-group-text border-0" id="search-addon">
                <i class="fas fa-search"></i>
            </span>
    </div>
    <ul class="nav navbar" sec:authorize="isAuthenticated()" >
        <form th:action="@{/logout}" method="post" style="max-width: 400px; margin-top: -35px; margin-left: 1660px">
            <button class="btn btn-default" type="submit" value="Logout">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-box-arrow-right" fill="currentColor"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M11.646 11.354a.5.5 0 0 1 0-.708L14.293 8l-2.647-2.646a.5.5 0 0 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0z"/>
                    <path fill-rule="evenodd" d="M4.5 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5z"/>
                    <path fill-rule="evenodd"
                          d="M2 13.5A1.5 1.5 0 0 1 .5 12V4A1.5 1.5 0 0 1 2 2.5h7A1.5 1.5 0 0 1 10.5 4v1.5a.5.5 0 0 1-1 0V4a.5.5 0 0 0-.5-.5H2a.5.5 0 0 0-.5.5v8a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5v-1.5a.5.5 0 0 1 1 0V12A1.5 1.5 0 0 1 9 13.5H2z"/>
                </svg>
                Çıkış
            </button>
        </form>
    </ul>
</nav>-->
<nav class="navbar navbar-light" style="width: 500px; margin: auto">
</nav>
<nav class="navbar navbar-light" style="width: 500px; margin: auto">
</nav>
<main class="container" style="width: 1100px; height:820px; border: 1px ridge #cecece">
    <h4 style="margin-top: 30px; margin-left: 20px; margin-right: 20px; border-bottom-color: gainsboro; border-bottom-style: solid">Makale Bilgilerini Güncelle</h4>
    <nav class="navbar navbar-light" style="width: 500px; margin: auto">
        <div></div>
    </nav>
    <form class="form-horizontal" method="post" style="width:900px; margin: auto">
        <div class="form-group">
            <label for="uluslararasiYayin" class="col-sm-2 control-label">Uluslararası Yayın</label>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="uluslararasiYayin" name="uluslararasiYayin">
                <label class="form-check-label" for="uluslararasiYayin"></label>
                <script>
                    $(document).ready(function () {
                        $('#uluslararasiYayin').on('change', function () {
                            $('input[name="uluslararasiYayin"]').val($(this).is(':checked') ? 'true' : 'false');
                        });
                    });
                </script>
            </div>
        </div>
        <div class="form-group">
            <label for="endeksTuru" class="col-sm-2 control-label">Endeks Türü</label>
            <select class="form-control" id="endeksTuru" name="endeksTuru" style="width: 745px; margin: 0 auto">
                <option>SCI</option>
                <option>SSCI</option>
                <option>A&HCI</option>
                <option>SCOPUS</option>
                <option>Diğer</option>
            </select>
        </div>
        <div class="form-group">
            <label for="uluslararasiIsbirlikli" class="col-sm-2 control-label">Uluslararası İşbirlikli Yayın</label>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="uluslararasiIsbirlikli">
                <label class="form-check-label" for="uluslararasiIsbirlikli"></label>
                <script>
                    $(document).ready(function () {
                        $('#uluslararasiIsbirlikli').on('change', function () {
                            $('input[name="uluslararasiIsbirlikli"]').val($(this).is(':checked') ? 'true' : 'false');
                        });
                    });
                </script>
            </div>
        </div>
        <div class="form-group">
            <label for="makaleAdi" class="col-sm-2 control-label">Makale Adı</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="makaleAdi" name="makaleAdi" placeholder="">
            </div>
        </div>
        <div class="form-group">
            <label for="dergiAdi" class="col-sm-2 control-label">Dergi Adı</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="dergiAdi" name="dergiAdi" placeholder="">
            </div>
        </div>
        <div class="form-group">
            <label for="yil" class="col-sm-2 control-label">Yıl</label>
            <select class="form-control" id="yil" name="yil" style="width: 745px; margin: 0 auto">
                <option>2021</option>
                <option>2020</option>
                <option>2019</option>
                <option>2018</option>
                <option>2017</option>
            </select>
        </div>
        <div class="form-group">
            <label for="cilt_volume" class="col-sm-2 control-label">Cilt/Volume</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="cilt_volume" name="cilt_volume" placeholder="">
            </div>
        </div>
        <div class="form-group">
            <label for="sayi" class="col-sm-2 control-label">Sayi</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="sayi" name="sayi" placeholder="">
            </div>
        </div>
        <div class="form-group">
            <label for="sayfaNumarasi" class="col-sm-2 control-label">Sayfa</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="sayfaNumarasi" name="sayfaNumarasi" placeholder="">
            </div>
        </div>
        <div class="form-group">
            <label for="doi" class="col-sm-2 control-label">DOİ</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="doi" name="doi" placeholder="">
            </div>
        </div>
        <div class="form-group">
            <label for="bap" class="col-sm-2 control-label">BAP Projesinden Üretilen Yayın</label>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="bap" name="bap">
                <label class="form-check-label" for="bap"></label>
                <script>
                    $(document).ready(function () {
                        $('#bap').on('change', function () {
                            $('input[name="bap"]').val($(this).is(':checked') ? 'true' : 'false');
                        });
                    });
                </script>
            </div>
        </div>
        <div class="form-group">
            <label for="kurumDisiYazar" class="col-sm-2 control-label">Kurum Dışı Ortak Yazarlı</label>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="kurumDisiYazar" name="kurumDisiYazar">
                <label class="form-check-label" for="kurumDisiYazar"></label>
                <script>
                    $(document).ready(function () {
                        $('#kurumDisiYazar').on('change', function () {
                            $('input[name="kurumDisiYazar"]').val($(this).is(':checked') ? 'true' : 'false');
                        });
                    });
                </script>
            </div>
        </div>
        <div class="form-group">
            <label for="yazarListesi" class="col-sm-2 control-label">Yazarlar</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="yazarListesi" name="yazarListesi" placeholder="">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default"
                        style="color: white; color-rendering: auto; background-color: #003C70">Kaydet
                </button>
            </div>
        </div>
    </form>
</main>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
        crossorigin="anonymous"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
        crossorigin="anonymous"></script>
</body>
</html>